{% extends "base.html" %}

{% load static %}

<title>

    {% block title %}
        Магазин
    {% endblock %}

</title>


{% block content %}

<section id="shop" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Магазин</h2>
            <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="zoom-in">
                <ul id="portfolio-flters" data-aos="zoom-in">
                    <div id="sidebar">
                        <ul>
                            <li {% if not category %}{% endif %}>
                                <a href="{% url 'shop:product_list' %}">Всі</a>
                            </li>
                            {% for c in categories %}
                            <li {% if category.slug == c.slug %}{% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                            {% for product in products %}
                            <div class="col-4 mt-5 mx-auto">
                                <a href="{{ product.get_absolute_url }}">
                                    <img style="max-width: 400px; max-height: 400px;"
                                         src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                         data-aos="zoom-in" data-aos-delay="100">
                                </a>
                                <div class="row justify-content-center">
                                    <div class="col-4 mt-3" data-aos-delay="200">
                                        <h5>{{ product.name }}</h5>
                                    </div>
                                    <div class="col-8 mt-3" data-aos-delay="300">
                                        <h5>{{ product.price }} грн.</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}

